.task-card{
  background-color: rgb(208, 209, 208);
  border: 1px solid blue;
  padding: 5px;
  margin: 5vh 0;
  border-radius: 25px;
}

body{
  background-color: lightgray
}

.is-visible{
  display: flex;
}

.is-invisible{
  display: none;
}